<nav class="navbar navbar-default navbar-toggleable-md">
<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movies List</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/dashboard">Dashboard</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="/movies">Movies</a></li>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>


<app-messages></app-messages>